.profile-header {
  display: flex;
  flex-direction: column;
  // align-items: center;
  padding: 20px;
  background-color: #0d1117;
  border-radius: 8px;
  margin-bottom: 20px;

  .profile-image {
    align-self: center;
    img {
      border-radius: 50%;
      width: 300px;
      height: 300px;
      border: 2px solid #30363d;
    }
  }

  .profile-details {
    // margin-left: 20px;

    .profile-title {
      h3 {
        color: #c9d1d9;
        font-size: 1.8rem;
        margin: 0;
      }

      h4 {
        color: #8b949e;
        font-size: 1.2rem;
        margin: 0;
      }
    }

    .profile-summary {
      font-size: 0.9rem;
      color: #fff;
      margin: 0;
      display: flex;
      flex-wrap: wrap; /* Enable wrapping for responsiveness */

      div {
        flex: 1 1 100%; /* Default: Full width (one item per line) */
        display: flex;
        align-items: center;
        padding-top: 0.5rem;

        .icon {
          color: #8b949e;
          width: 16px; /* Icon width */
          height: 16px; /* Icon height */
          font-size: 16px; /* Controls icon size */
          margin-right: 12px;
        }
      }
    }

    /* Media query for below 768px */
    @media (max-width: 768px) {
      .profile-title {
        text-align: center;
      }

      .profile-summary {
        justify-content: space-between;
      }

      .profile-summary div {
        flex: 1 1 calc(50% - 0.5rem);
      }

      .profile-summary div:nth-child(even) {
        justify-content: flex-end;
      }
    }

    @media (max-width: 480px) {
      .profile-summary div {
        flex: 1 1 100%; /* Revert back to full width */
      }

      .profile-summary div:nth-child(even) {
        justify-content: flex-start;
      }
    }

    a {
      color: #58a6ff;
      font-size: 0.9rem;
      text-decoration: none;
      // margin-top: 10px;
      display: inline-block;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media (max-width: 768px) {
    padding: 20px 0;
  }
}
