.exp-repositories-list {
  margin-bottom: 20px;

  h3 {
    color: #c9d1d9;
    font-size: 1.3rem;
    margin-bottom: 15px;
  }

  .exp-repo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;

    @media (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr); /* Example: 3 columns */
    }

  }
}
